body{
  /*background-image: linear-gradient(120deg, #0078b9, #8B16B6);*/
   background-image: linear-gradient(120deg, #0066b9, #3957aa, #80379b 80%);
  height: 100vh;
  width: 100%;
}

/*outside box text*/
.text{
  padding-top: 20px;
  margin: 30px;
  text-align: center;  /*set text to the center*/
  color: white; /*set text color to white*/
  font-size: 80px;  /*set text size bigger*/
  font-weight: bold;  /*set text to bold*/
  font-family: "Comfortaa", cursive;
  
}

.text h1{
  text-align: center;
  font-size: 15px;
  font-family: 'comfortaa', cursive;
  padding-left: 255px;
  opacity: .7;
}

.text p3{
  font-family: "arial";
  width: 140px;
  height: 25px;
  margin: 0px auto;
  position: relative;
  border-radius: 5px;
  color: white;
  left: 20px;
  top: 240px;
  font-size: 13px;
  font-weight: lighter;
}

.text p3:hover{
  text-decoration: underline;
}

.text p4{
  font-family: "arial";
  width: 140px;
  height: 25px;
  margin: 0px auto;
  position: relative;
  border-radius: 5px;
  color: white;
  top: 240px;
  font-size: 13px;
  font-weight: lighter;
}

.text p4:hover{
  text-decoration: underline;
}

.text p5{
  font-family: "arial";
  width: 140px;
  height: 25px;
  margin: 0px auto;
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  right: 90px;
  top: 240px;
  font-size: 15px;
  font-weight: lighter;
}

/*big box function*/
.big-box{
  bottom: 90px;
  width: 320px;
  height: 250px;
  margin: 10px auto;
  background: rgba(255,255,255,.1);
  position: relative;
  border-radius: 5px;
}

.big-box h2{
  padding-top: 35px;
  font-family: "arial";
  font-size: 25px;
  color: white;
  text-align: center;
}

/*first row*/
.big-box h5{
  font-family: "arial";
  width: 130px;
  top: 100px;
  background: rgba(255,255,255,0);
  padding-left: 65px;
  padding-top: 50px;
  color: white;
  font-size: 12.5px;
  font-weight: lighter;
}

.big-box h5:hover{
  text-decoration: underline;
}

.big-box h6{
  font-family: "arial";
  width: 140px;
  height: 25px;
  margin: 0px auto;
  background: rgba(255,255,255,0);
  position: relative;
  text-decoration: none;
  color: white;
  left: 75px;
  bottom: 35px;
  font-size: 12px;
  font-weight: lighter;
}

.big-box h6:hover{
  text-decoration: underline;
}

.big-box h7{
  font-family: "arial";
  width: 100px;
  height: 25px;
  margin: 0px auto;
  background: rgba(255,255,255,0);
  position: relative;
  text-decoration: none;
  color: white;
  left: 160px;
  bottom: 65px;
  font-size: 12px;
}

/*second row*/
.big-box h8{
  font-family: "arial";
  width: 140px;
  height: 25px;
  margin: 0px auto;
  background: rgba(255,255,255,0);
  position: relative;
  text-decoration: none;
  color: white;
  left: 55px;
  bottom: 25px;
  font-size: 13px;
}

.big-box h8:hover{
  text-decoration: underline;
}

.big-box h9{
  font-family: "arial";
  width: 140px;
  height: 25px;
  margin: 0px auto;
  background: rgba(255,255,255,0);
  position: relative;
  text-decoration: none;
  color: white;
  left: 60px;
  bottom: 25px;
  font-size: 12px;
}

.big-box h9:hover{
  text-decoration: underline;
}

.big-box p1{
  font-family: "arial";
  width: 100px;
  height: 25px;
  margin: 0px auto;
  background: rgba(255,255,255,0);
  position: relative;
  text-decoration: none;
  color: white;
  right: 73px;
  bottom: 25px;
  font-size: 13px;
}

/*third row*/
.big-box h3{
  font-family: "arial";
  width: 130px;
  height: 20px;
  margin: 0px auto;
  background: rgba(255,255,255,0);
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  left: 15px;
  bottom: 25px;
  font-size: 12px;
  font-weight: lighter;
}

.big-box h3:hover{
  text-decoration: underline;
}

/*small box function*/
.small-box{
  bottom: 280px;
  width: 80px;
  height: 40px;
  margin: 0px auto;
  background-color: rgba(255,255,255,0.1);
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.small-box:hover{
  text-decoration: none;
  background-color: rgba(255,255,255,.3);
}

.small-box p{
  /*background-color: rgba(255,255,255,0);*/
  /*width: 80px;*/
  /*height: 20px;*/
  margin: 0px auto;
  text-decoration: none;
  font-family: arial;
  font-size: 15px;
  color: rgba(255,255,255,1);
  text-align: center;
  padding-top: 12px;
}